flask
requests
gunicorn
vaderSentiment
alpaca-py
finnhub-python

#Needed for Finbert
#torch
#transformers
#Needed for Backtesting
#backtesting


#matplotlib


#Needed for XGBoost strategy
#xgboost 
#scikit-learn 
#pandas-ta
google-generativeai
yfinance